/* Руководитель*/
.ds11-chif {
}

.ds11-chif h5 {
  text-align: center;
}

.ds11-chif-img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* Банеры*/
.teh_baner {
  width: 100%;
  height: 117px;
  border: 1px solid #0a7fc4;
  margin-bottom: 10px;
}

.teh_baner-img {
  width: 33%;
  height: 117px;
  float: left;
  padding: 5px;
}

.teh_baner-img img {
  width: 107px;
  height: 105px;
}

.teh_baner-text {
  width: 66%;
  height: 117px;
  float: left;
  padding: 5px;
}

/* Госуслуги */
.ds11_gosuslugi {
  width: 100%;
  height: 226px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*Яндекс карты*/
.ds11_yandexmap {
  width: 100%;
  height: 400px;
}
.yandexmap {
  width: 100%;
  height: 95%;
}
